@-moz-document domain('wikia.com') {
	/* Full width content */
	#WikiaPage{width:97%!important;max-width:none!important;margin:0px!important}
	#WikiaMainContent{width:100%!important;margin:0px!important}
	#WikiaMainContentContainer{margin:0px!important}
	#WikiaPageHeader{padding-left:10px!important}

	/* Expand article navigation */
	.toc ul{display:block!important}

	/* Remove wikia navigation */
	#WikiaFooter{display:none!important}
	#WikiaHeader nav {display:none!important}
	.CorporateFooter{display:none!important}
	#WikiaBarWrapper{display:none!important}
	body{padding:0px!important}
	.oasis-split-skin .WikiaHeader .page-width-container{width:auto!important}
	#WikiaHeader{min-width:0!important}
	#UserLoginDropdown{right:0!important}
	.WikiHeader .navbackground{width:100%!important}
	.WikiHeader .WikiNav .nav ul{width:auto!important}
	#AccountNavigation{top:32px!important}

	/* Remove sidebar cruft */
	.WikiaRail{float:none!important;position:absolute!important;right:10px!important;z-index:1000!important;overflow:visible!important}
	.wikinav2 .WikiaPageHeader > .tally{right:350px!important}
	.WikiaRail > div, .WikiaRail > section{display:none!important}

	/* Cinch up page, remove image frills */
	.page-width-container img{display:none!important}
	#WikiaHeader{border:none!important}
	.WikiNav, .buttons{top:0px!important}
	.navbackground img{display:none!important}
	.WikiaPage{border:none!important}
	.WikiHeaderRestyle{padding:0px!important;margin:0px!important}
	.WikiaArticle{padding: 0 10px!important}
	body.mediawiki{background-image: none!important}

	/* Remove ads */
	.wikia-ad{display:none!important}
	.home-top-right-ads{display:none!important}
	#WikiaTopAds{display:none!important}
	#WikiaArticleBottomAd{display:none!important}
	#WikiaNotifications{display:none!important}
}