@charset "utf-8";
@import url('file:///home/blankaex/.cache/wal/colors.css');

/*
 * global rules
 */

/* set global font */
* {
    font-family: Source Han Sans JP !important;
}

/* disable fullscreen warning */
#fullscreen-warning {
    display: none !important;
}

/* (partially) fix white flash when opening new tab */
#tabbrowser-tabpanels {
    background-color: var(--background) !important;
}


/*
 *  tab styling
 */

/* hide favicon and close button */
.tab-icon-image:not([pinned]), .tab-close-button, .tab-icon-overlay {
    display: none !important;
}

/* remove gap between pinned and unpinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}

/* disable overflow fade */
.tabbrowser-tab {
    --tab-label-mask-size: 0 !important;
}

/* set tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 300px !important;
}

/* disable flashing lights */
#tabbrowser-tabs {
    --tab-loading-fill: transparent !important;
    --tab-line-color: transparent !important;
}

/* disable border lights */
#TabsToolbar {
    --lwt-tab-line-color: transparent !important;
}

/* set tab label font size */
.tab-text {
    font-size: 1em !important;
}

/* remove tab outline */
.tab-background {
    border: none !important;
}

/* highlight focused tab */
.tab-background:is([selected]) {
    border-top: 2px solid var(--color3) !important;
}

/* focused tab background colour */
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, .tab-background:is([selected], [multiselected]) {
    background-color: var(--background) !important;
}

/* unfocused tab background colour */
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, .tab-background:not([selected]) {
    background-color: var(--background) !important;
    filter: brightness(180%) !important;
}

/* centered tab labels */
.tab-content:not([pinned])::before {
    display: -moz-box;
    -moz-box-flex: 1;
    content: ""; /* I don't know what this does either but it doesn't work without it*/
}

/* spacing between and below tabs */
.tabbrowser-tab {
    margin: 0px -1px -4px -1px !important;
}

/* tab rounding */
.tab-background {
    border-radius: 3px 3px 0px 0px !important;
}


/*
 * toolbar styling
 */

/* button cleanup */
#tabs-newtab-button, #new-tab-button, /* new tab button */
#scrollbutton-up, #scrollbutton-down, /* tab scroll buttons */
#forward-button, /* forward buttons */
#tracking-protection-icon-container, /* tracking protection icon */
#identity-box, /* ssl icon */
#star-button-box, /* bookmark icon */
#urlbar-go-button, /* url bar go button */
#PanelUI-button, /* settings panel button */
#alltabs-button, /* tab list button */
#pageActionButton, #pageActionSeparator, #toolbarseparator /* separators */ {
    display: none !important;
}

/* keep it symmetrical */
#nav-bar-overflow-button {
    margin-right: 5px !important;
}


/*
 * nav bar styling
 */

/* background color */
.browser-toolbar:not(.titlebar-color) {
    background-color: var(--background) !important;
}

/* center urlbar text */
#urlbar-input {
    text-align: center !important;
}

/* hostname in suggestions styling */
:root[lwt-toolbar-field-focus-brighttext] {
    --lwt-popup-brighttext-url-color: var(--color6) !important;
}

/* highlighted suggestion styling */
.urlbarView-row[aria-selected="true"] {
    --autocomplete-popup-highlight-background: var(--color6) !important;
    --lwt-popup-brighttext-url-color: var(--foreground) !important;
}


/*
 * stealth mode
 */

/* default navbar styling */
#nav-bar #urlbar {
    opacity: 50% !important;
    font-size: 1em !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

/* expand navbar on hover */
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #urlbar {
    opacity: 100% !important;
    font-size: 1.2em !important;
}

/* blend urlbar into toolbar by default */
#urlbar-background {
    background-color: transparent !important;
    border: none !important;
}

/* reset background when focused so search suggestions have a background */
:root:not([customizing]) #navigator-toolbox:focus-within #urlbar-background {
    background-color: #2d2d2d !important;
}

/* buttons hidden by default */
:root:not([customizing]) #nav-bar toolbarbutton {
    opacity: 0 !important;
    transform: scale(.85, .85) !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}
:root:not([customizing]) #nav-bar toolbarbutton#back-button {
    margin-left: -36px !important;
}
:root:not([customizing]) #nav-bar toolbarbutton#unified-extensions-button {
    margin-right: -36px !important;
}

/* show buttons on hover */
:root:not([customizing]) :hover > #nav-bar toolbarbutton {
    transform: scale(1, 1) !important;
    opacity: 1 !important;
    margin-left: 0 !important;
    pointer-events: auto !important;
}
:root:not([customizing]) :hover > #nav-bar toolbarbutton#back-button {
    margin-left: 0 !important;
}
:root:not([customizing]) :hover > #nav-bar toolbarbutton#unified-extensions-button {
    margin-right: 0 !important;
}
