@charset "utf-8";
@import url('file:///home/blankaex/.cache/wal/colors.css');

/*
 * global rules
 */

/* set global font */
* {
    font-family: Source Han Sans JP !important;
}

/* disable fullscreen warning */
@-moz-document url(chrome://browser/content/browser.xul) {
    #fullscreen-warning {
        display: none !important;
    }
}


/*
 *  tab styling
 */

/* hide favicon and close button */
.tab-icon-image, .tab-close-button, .tab-icon-overlay {
    display: none !important;
}

/* disable overflow fade & set width*/
.tabbrowser-tab {
    --tab-label-mask-size: 0 !important;
    max-width: 250px !important;
}

/* disable flashing lights and border */
#tabbrowser-tabs {
    --tab-loading-fill: transparent !important;
    --tab-line-color: transparent !important;
}

/* set tab label font size */
.tab-text {
    font-size: 0.85em !important;
}

/* connect tabs to toolbar */
.tabbrowser-tab {
    margin-bottom: -4px !important;
}


/*
 * toolbar styling
 */

/* button cleanup */
#tabs-newtab-button, #new-tab-button, /* new tab button */
#scrollbutton-up, #scrollbutton-down, /* tab scroll buttons */
#back-button, #forward-button, /* back and forward buttons */
#tracking-protection-icon-container, /* tracking protection icon */
#identity-box, /* ssl icon */
#star-button-box, /* bookmark icon */
#urlbar-go-button, /* url bar go button */
#pageActionButton, #pageActionSeparator /* separators */ {
    display: none !important;
}


/*
 * nav bar styling
 */

/* center urlbar text */
#urlbar-input {
    text-align: center !important;
}

/* hostname in suggestions styling */
:root[lwt-toolbar-field-focus-brighttext] {
    --lwt-popup-brighttext-url-color: var(--color6);
}


/*
 * stealth mode
 */

/* default navbar styling */
#nav-bar #urlbar {
    opacity: 50% !important;
    font-size: 0.85em !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

/* expand navbar on hover */
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #urlbar {
    opacity: 100% !important;
    font-size: 1.00em !important;
}

/* blend urlbar into toolbar by default */
#urlbar-background {
    background-color: transparent !important;
    border: none !important;
}

/* reset background when focused so search suggestions have a background */
:root:not([customizing]) #navigator-toolbox:focus-within #urlbar-background {
    background-color: var(--background) !important;
}

/* buttons hidden by default */
:root:not([customizing]) #nav-bar toolbarbutton {
    margin-left: -36px !important;
    opacity: 0 !important;
    transform: scale(.85, .85) !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

/* show buttons on hover */
:root:not([customizing]) :hover > #nav-bar toolbarbutton {
    transform: scale(1, 1) !important;
    opacity: 1 !important;
    margin-left: 0 !important;
    pointer-events: auto !important;
}
